code-background-color = #fafafa
code-font-color = #000000
code-border-color = #eaeefb
table-border-color = #dfe2e5

.navbar{
  z-index: 999;
}

.theme-default-content{
  .hljs{
    .hljs-subst{
      color: #FFFFFF;
    }
  }
  > h3{
    margin: 55px 0 20px !important;
    padding: 0 !important;
  }
  table{
    display: table;
    width: 100%;
    tr{
      border-bottom: 1px solid table-border-color;
      border-top: none;
      &:nth-child(2n){
        background: transparent;
      }
    }
    th{
      color: #909399;
    }
    th,td{
      border: none;
      text-align: left;
      padding: 15px;
      font-size: 14px;
      max-width: 250px;
    }
  }
}

.content{
  > .title{
    margin-bottom: 50px;
    h1{
      margin: 0;
      font-size: 28px;
    }
    p{
      color: #5e6d82;
    }
  }
}

.demo{
  margin-top: 54px;
  .title{
    h2{
      font-size: 22px;
      border: none;
    }
    p{
      font-size 14px;
      color: #5e6d82;
    }
  }
}

.demo-block{
  border: 1px solid code-border-color;
  border-radius: 3px;
  transition: .2s;
  &:hover{
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
  }
  .demo-block-control{
    &:hover{
      background: #f9fafc;
    }
  }
  .source{
    padding: 24px
  }
  .demo-block-control{
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
  }
}

.code-content{
  background-color: code-background-color;
  border-top: 1px solid code-border-color;
  overflow: hidden;
  height: 0;
  transition: height .2s;
  pre{
    background: code-background-color;
    margin: 0;
    padding: 0;
    code{
      color: code-font-color;
      padding: 18px 24px;
      font-size: 12px;
      line-height: 1.8;
    }
  }
}
